<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/static/css/attraction.css" type="text/css"> -->
        <!-- <script src="/static/js/attraction.js"></script> -->
        <title>attraction</title>
        <style>
            @import url('/static/css/attraction.css');
        </style>
        <script src="/static/js/attraction.js"></script>
    </head>
    <body onload="init();" id="body">
        <div class="navigationBar">  
            <nav id="nav">
                <div class="title" id="backto_home">台北一日遊</div>
                <div class="item" id="booking">預定行程</div>
                <div class="item" id="sign">登入/註冊</div>
            </nav>
            <div class="hr1"></div>
        </div>
        <div class="popup_form">
            <div class="title">
                <p class="sign_title">登入會員帳號</p>
                <p class="cancle"></p>
            </div>
            <form id="signin_form" method="PATCH">
                <input class="account" id="signin_email" type="text" placeholder="請輸入電子信箱" required="required">
                <input class="pw" id="signin_pw" type="password" placeholder="輸入密碼" required="required">
                <input class="btn" type="submit" value="登入帳號">
            </form>
            <p class="sign_in" id="signin_result">還沒有帳戶？點此註冊</p>
        </div>
        <div class="popup_signup_form">
            <div class="title">
                <p class="sign_title">註冊會員帳號</p> 
                <p class="cancle" id="signup_cancle"></p>
            </div>
            <form id="signup_form" method="POST">
                <input class="name" id="signup_name" type="text" placeholder="輸入姓名" required="required">
                <input class="account" id="signup_email" type="text" placeholder="輸入電子信箱" required="required">
                <input class="pw" id="signup_password" type="password" placeholder="輸入密碼" required="required">
                <input class="signup_btn" type="submit" value="註冊帳號">
            </form>
            <p class="sign_up" id="signup_result">已經有帳戶了？點此登入</p>
        </div>
        <div class="load_spot">
            <img class="load_gif" src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif">
        </div>
        <div class="container">
            <div class="slideimg">
                <!-- <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg"> -->
                <div class="slide">
                    <img class="left"src="https://i.ibb.co/5hw705Q/btn-left-Arrow.png">
                    <img class="right" src="https://i.ibb.co/JxtFtBm/btn-right-Arrow.png">
                </div>
                <div class="img_dot"></div>
            </div>
            <div class="bookingContent">
                <p class="spotname"></p>
                <p class="catmrt"></p>
                <div class="bookui">
                    <p class="bkt">訂購導覽行程</p>
                    <p class="bkc">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <form id="book_form" method="POST">
                        <div class="bkdateui">
                            <p class="inputText">選擇日期 : </p>
                            <input class="inputdate" id="date" type="date" required="required">
                        </div>
                        <div class="bktimeui">
                            <p>選擇時間 :</p>
                            <input type="radio" class="radio1" name="time" required="required">
                            <p class="dottxt1">上半天</p>
                            <input type="radio" class="radio2" name="time" required="required">
                            <p class="dottxt2">下半天</p>
                        </div>
                        <div class="bookfee">
                            <p class="p2">導覽費用 :</p>
                            <p class="p3"></p>
                        </div>
                        <input class="btn" type="submit" value="開始預訂行程">
                    </form>
                </div>
            </div>
        </div>
        <div class="hr2"></div>
        <div class="content">
            <!-- <div class="description">
                北投溫泉從日據時代便有盛名，深受喜愛泡湯的日人自然不會錯過，瀧乃湯、星乃湯、鐵乃湯就是日本人依照溫泉的特性與療效給予的名稱
                ，據說對皮膚病、神經過敏、氣喘、風濕等具有很好的療效，也因此成為了北部最著名的泡湯景點之一。新北投溫泉的泉源為大磺嘴溫泉，
                泉質屬硫酸鹽泉，PH值約為3~4之間，水質呈黃白色半透明，泉水溫度約為50-90℃，帶有些許的硫磺味 。目前北投的溫泉旅館、飯店、
                會館大部分集中於中山路、光明路沿線以及北投公園地熱谷附近，總計約有44家，每一家都各有其特色，多樣的溫泉水療以及遊憩設施，
                提供遊客泡湯養生，而鄰近的景點也是非常值得造訪，例如被列為三級古蹟的三寶吟松閣、星乃湯、瀧乃湯以及北投第一家溫泉旅館「天狗庵」
                ，都有著深遠的歷史背景，而北投公園、北投溫泉博物館、北投文物館、地熱谷等，更是遊客必遊的景點，來到北投除了可以讓溫泉洗滌身心疲憊
                ，也可以順便了解到北投溫泉豐富的人文歷史。
            </div>
            <div class="address">
                <p class="addt">景點地址 :</p>
                <p>台北市大安區 忠孝路東路4段</p>
            </div>
            <div class="transport">
                <p class="transt">交通方式 :</p>
                <p>北投溫泉從日據時代便有盛名，深受喜愛泡湯的日人自然不會錯過，瀧乃湯、星乃湯、鐵乃湯就是日本人依照溫泉的特性與療效給予的名稱 
                ，據說對皮膚病、神經過敏、氣喘、風濕等具有很好的療效，也因此成為了北部最著名的泡湯景點之一。</p>
            </div>-->
        </div>
        <footer>COPYRIGHT © 2021 台北一日遊</footer>
        <div class="mask"></div>
    </body>
</html>