<!DOCTYPE html>
<html>
    <head>
        <title>預定系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <style>
            @import url(/static/css/booking.css);
        </style>
        <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
        <script src="booking.html"></script>
    </head>
    <body onload="init()" id="body">
        <div class="navigation_bar">
            <nav id="nav">
                <div class="title" id="backto_home">台北一日遊</div>
                <div class="item" id="booking">預定行程</div>
                <div class="item" id="signing">登入/註冊</div>
            </nav>
            <div class="hr1"></div>
        </div>
        <div class="popup_form">
            <div class="title">
                <p class="sign_title">登入會員帳號</p>
                <p class="cancle"></p>
            </div>
            <form id="signin_form" method="PATCH">
                <input class="account" id="signin_email" type="text" placeholder="請輸入電子信箱" required="required">
                <input class="pw" id="signin_pw" type="password" placeholder="輸入密碼" required="required">
                <input class="btn" type="submit" value="登入帳號">
            </form>
            <p class="sign_in" id="signin_result">還沒有帳戶？點此註冊</p>
        </div>
        <div class="popup_signup_form">
            <div class="title">
                <p class="sign_title">註冊會員帳號</p> 
                <p class="cancle" id="signup_cancle"></p>
            </div>
            <form id="signup_form" method="POST">
                <input class="name" id="signup_name" type="text" placeholder="輸入姓名" required="required">
                <input class="account" id="signup_email" type="text" placeholder="輸入電子信箱" required="required">
                <input class="pw" id="signup_password" type="password" placeholder="輸入密碼" required="required">
                <input class="signup_btn" type="submit" value="註冊帳號">
            </form>
            <p class="sign_up" id="signup_result">已經有帳戶了？點此登入</p>
        </div>
        <div class="load_spot">
            <img class="load_gif" src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif">
        </div>
        <div class="username_title">你好，<span id="username"></span>，待預定的行程如下：</div>
        <p class="nodata_message" id="nodata">目前沒有預定任何的行程</p>
        <div class="container">
            <img id="slide_img">
            <div class="spot">
                <div class="spot_title">
                    <p class="title">台北一日遊：</p>
                    <p class="content" id="spotname"></p>
                </div>
                <div class="spot_date">
                    <p class="date">日期：</p>
                    <p class="content" id="date"></p>
                </div>
                <div class="spot_time">
                    <p class="time">時間：</p>
                    <p class="content" id="time"></p>
                </div>
                <div class="spot_fee">
                    <p class="fee">費用：</p>
                    <p class="content" id="price"></p>
                </div>
                <div class="spot_place">
                    <p class="place">地點：</p>
                    <p class="content" id="place"></p>
                </div>
            </div> 
            <img class="delete_booking" src="https://i.ibb.co/yXPdySC/icon-delete.png" >
        </div>
        <div class="hr2"></div>
        <div class="contact_message">
            <p class="title">你的連絡資訊</p>
            <form>
                聯絡姓名：<input class="message" type="text" id="contact-name">
                </br>
                聯絡信箱：<input class="message" type="text" id="contact-email">
                </br>
                手機號碼：<input class="message" type="text" id="contact-phone">
            </form>
            <p class="remind">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
        </div>
        <div class="hr3"></div>
        <div class="paid_message">
            <p class="title">信用卡付款資訊</p>
            <!-- <form>
                卡片號碼：<input class="paid" type="password" placeholder="**** **** **** ****">
                </br>
                過期時間：<input class="paid" type="text" placeholder="ＭＭ／ＹＹ">
                </br>
                驗證密碼：<input class="paid" type="text" placeholder="ＣＶＶ">
            </form> -->
            <div class="card_num">
                <div>卡片號碼：</div>
            <div class="tpfield" id="card-number"></div>
            </div>
            <div class="card_exp_date">
                <div>過期時間：</div>
                <div class="tpfield" id="card-expiration-date"></div>
            </div>
            <div class="card_ccv">
                <div>驗證密碼：</div>
                <div class="tpfield" id="card-ccv"></div>
            </div>
        </div>
        <div class="hr4"></div>
        <div class="confirm">
            <p class="total_fee">總價：新台幣<span id="total_price"></span>元</p>
            <input class="butt" id="confirm-pay" type="submit" value="確認訂購並付款" onclick="onClick();"></input>
        </div>
        <footer id="footer">COPYRIGHT © 2021 台北一日遊</footer>
        <div class="mask"></div>
    </body>
</html>