<!DOCTYPE html>
<html>
    <head>
        <title>台北一日遊</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('/static/css/main.css');
        </style>
        <script src="/static/js/main.js"></script>
    </head>
    <body onload="init();" id="body">
        <div class="upper">  
            <nav id ="nav">
                <div class="title" onclick="location.href='/'">台北一日遊</div>
                <div class="item" id="booking">預定行程</div>
                <div class="item" id="sign">登入/註冊</div>
            </nav>
        </div>
        <div class="outter">
            <div class="popup_form">
                <div class="title">
                    <p class="sign_title">登入會員帳號</p>
                    <p class="cancle" id="signin_cancle"></p>
                </div>
                <form id="signin_form" method="PATCH">
                    <input class="account" type="text" placeholder="請輸入電子信箱" required="required" id="signin_email">
                    <input class="pw" type="password" placeholder="輸入密碼" required="required" id="signin_password">
                    <button class="btn" type="submit">登入帳號</button>
                </form>
                <p class="sign_up" id="signin_result">還沒有帳戶？點此註冊</p>
            </div>
            <div class="popup_form_sign_up">
                <div class="title">
                    <p class="sign_up_title">註冊會員帳號</p>
                    <p class="signup_cancle"></p>
                </div>
                <form id="signup_form" method="POST">
                    <input class="name" type="text" placeholder="請輸入姓名"  id="signup_name" required="required">
                    <input class="account" type="text" placeholder="請輸入電子郵件" id="signup_email" required="required" >
                    <input class="pw" type="password" placeholder="請輸入密碼" id="signup_pw" required="required" >
                    <button class="btn" type="submit">註冊新帳號</button>
                </form>
                <p class="sign_in" id="signup_result">已有帳戶了？點此登入</p>
            </div>
            <div class="inner">
                <div class="searchPartText">
                    <div class="t1">輕鬆享受台北一日悠閒</div>
                    </br>
                    <div class="t2">探索每個角落，體驗城市的深度旅遊行程</div>
                    </br>
                    <div class="search">
                        <input class="insert" type="text" placeholder="輸入景點名稱查詢">
                        <input class="butt" id ="butt" type="button" onclick="keywordSearch();" placeholder="搜尋">
                    </div>
                </div>
            </div>
        </div>
        <div class="load_spot">
            <img class="load_gif" src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif">
        </div>
        <div class="container">
            <div class="part"></div>
            <!-- <div class="up" id="up">
                <div class="spot">
                    <div id="img1"></div>
                    <p class="name" id="name1"></p>
                    <div class="cube">
                        <p class="mrt" id="mrt1"></p>
                        <p class="cat" id="cat1"></p>
                    </div>
                    
                </div>
                <div class="spot">
                    <div id="img2"></div>
                    <p class="name" id="name2"></p>
                    <div class="cube">
                        <p class="mrt" id="mrt2"></p>
                        <p class="cat" id="cat2"></p>
                    </div>
                </div>
                <div class="spot">
                    <div id="img3"></div>
                    <p class="name" id="name3"></p>
                    <div class="cube">
                        <p class="mrt" id="mrt3"></p>
                        <p class="cat" id="cat3"></p>
                    </div>
                </div>
                <div class="spot">
                    <div id="img4"></div>
                    <p class="name" id="name4"></p>
                    <div class="cube">
                        <p class="mrt" id="mrt4"></p>
                        <p class="cat" id="cat4"></p>
                    </div>
                </div>
            </div> -->
        </div>
        <footer>COPYRIGHT © 2021 台北一日遊</footer>
        <div class="mask"></div>
    </body>
</html>