<!DOCTYPE html>
<html>
    <head>
        <meta charser="utf-8">
        <title>感謝頁面</title>
        <style>
            @import url(/static/css/thankyou.css);
        </style>
        <script src="/static/js/thankyou.js"></script>
    </head>
    <body onload="init();">
        <div class="navigation_bar">
            <nav id="nav">
                <div class="title" id="backto_home">台北一日遊</div>
                <div class="item" id="booking">預定行程</div>
                <div class="item" id="signing">登入/註冊</div>
            </nav>
            <div class="hr1"></div>
        </div>
        <div class="popup_form">
            <div class="title">
                <p class="sign_title">登入會員帳號</p>
                <p class="cancle"></p>
            </div>
            <form id="signin_form" method="PATCH">
                <input class="account" id="signin_email" type="text" placeholder="請輸入電子信箱" required="required">
                <input class="pw" id="signin_pw" type="password" placeholder="輸入密碼" required="required">
                <input class="btn" type="submit" value="登入帳號">
            </form>
            <p class="sign_in" id="signin_result">還沒有帳戶？點此註冊</p>
        </div>
        <div class="popup_signup_form">
            <div class="title">
                <p class="sign_title">註冊會員帳號</p> 
                <p class="cancle" id="signup_cancle"></p>
            </div>
            <form id="signup_form" method="POST">
                <input class="name" id="signup_name" type="text" placeholder="輸入姓名" required="required">
                <input class="account" id="signup_email" type="text" placeholder="輸入電子信箱" required="required">
                <input class="pw" id="signup_password" type="password" placeholder="輸入密碼" required="required">
                <input class="signup_btn" type="submit" value="註冊帳號">
            </form>
            <p class="sign_up" id="signup_result">已經有帳戶了？點此登入</p>
        </div>
        <h3 class="order_title">訂單資訊：</h3>
        <div class="order_number">
            <div class="title">訂單編號：</div>
            <div class="content" id="order_num"></div>
        </div>
        <div class="order_result">
            <div class="title">付款狀態：</div>
            <div class="content" id="order_paid">成功</div>
        </div>
        <div class="container">

        </div>
        <footer id="footer">COPYRIGHT © 2021 台北一日遊</footer>
    </body>
</html>